body{
    background-image:linear-gradient(rgba(0, 0, 0, 0.3),rgba(0,0,0,0.3)),url('img/thunderstorm-3440450_960_720.jpg');
    background-repeat: no-repeat;
    background-size: 100%;    
}
.form-control{
        background-color: transparent !important;
        color: white !important;
        border-bottom: 3px solid white!important;
}

h1{
    font-size: 80px !important;
}

img{
    width: 30px;
    height: 30px;
    margin-right: 10px;
}